/* General styles */
html,
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Dashboard container to allow scrolling */
.dashboard-container {
  width: 80%;
  height: calc(100vh - 60px); /* Adjusted height (minus header/footer space) */
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #2c3e50;
}

p {
  text-align: center;
  font-size: 18px;
  /*color: #34495e;*/
}

.btn {
  display: block;
  width: max-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
}

.btn:hover {
  background-color: #2980b9;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Header styles */
header {
  background-color: #3498db;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo styling */
.logo img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

/* Navigation styling */
header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover {
  text-decoration: underline;
}
